
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-p2p-black {
  background-color:  #000000;
}


.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
   z-index: 3;
}

.list-group-item.active {
  background-color: #72D54A;
  border-color: #72D54A;
}
